.ant-input,
.ant-select-selector,
.ant-select-item,
.ant-select input {
    font-size: 16px !important;
}

.ant-input,
.ant-input-affix-wrapper,
.ant-select-selector {
    border-radius: 14px !important;
}

.ant-input-group-wrapper-outlined .ant-input-group-addon {
    min-width: 40px;
}
